<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/acd9ed5e69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TDTU Newsfeed</title>
</head>

<body>
    <header id="header">
        <div class="banner">
            <div class="header__logo">
                <a href="/">
                    <img class="header__logo--img" src="https://stdportal.tdtu.edu.vn/Content/images/image.png"
                        alt="TDT logo">
                </a>

            </div>
            <div class="header__navbar">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="/" class="nav-list__item--link">Trang chủ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="/notifications/pages/1" class="nav-list__item--link">Trang Thông báo</a>

                    </li>
                </ul>
                <h1>Administration Page</h1>
            </div>
            <div class="header__banner--right">

                <a href="/logout">
                    Logout
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="grid">
            <div>
                <h1>Danh sách phòng khoa</h1>
            </div>

            <div>
                <button id="btn-new" class="btn btn-create-faculty">Tạo mới Phòng/Khoa</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Categories</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% if(faculties) { %>
                        <% faculties.forEach(faculty=> { %>
                            <tr>
                                <td>-</td>
                                <td>
                                    <%= faculty.role %>
                                </td>
                                <td>
                                    <%= faculty.name %>
                                </td>
                                <td>-</td>
                            </tr>
                            <% }) %>
                                <% } %>

                </tbody>
            </table>
        </div>
    </div>


    <!-- Register falcuty Modal -->
    <div class="modal fade" id="modalAddFacul" tabindex="-1" role="dialog"
        data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal__title">
                    <h2>Create new faculty</h2>
                </div>
                <form method="post" action="/admin/register">
                    <div class="form-group">
                        <label for="facultyName">Tên Phòng/khoa:</label>
                        <input type="text" name="name" placeholder="Nhập tên khoa...">
                    </div>
                    <div class="form-group">
                        <label for="username">Tên đăng nhập:</label>
                        <input type="text" name="username" placeholder="Nhập Tên đăng nhập">
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu:</label>
                        <input type="password" name="password" placeholder="Nhập Mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="username">Role:</label>
                        <input type="text" name="role" placeholder="Nhập Role">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Nhập Email">
                    </div>
                    <div class="form-group">
                        <label for="categories">Chuyên đề:</label>
                        <input type="text" name="categories" placeholder="Các chuyên đề phụ trách">
                    </div>
    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-confirm-create">Xác nhận</button>
                        <button class="btn btn-cancel ">Hủy</button>
                    </div>
    
    
    
                </form>
            </div>
        </div>
    </div>


    <script>
        let btnCreateFaculty = document.getElementById('btn-new');
        let btnConfirmCreate = document.getElementById('btn-confirm-create')
        if (btnCreateFaculty) {
            btnCreateFaculty.onclick = () => {
                $('#modalAddFacul').modal("show");
            }
        }
        if(btnConfirmCreate) {
    btnConfirmCreate.onclick = (e) => {
        $('#modalAddFacul').modal("hide");
    }
}
    </script>

</body>

</html>