<%- include ("shares/header") %>

<section>
    <header id="header scroll-down">
        <div class="banner">
            <div class="header__logo">
                <a href="/">
                    <img class="header__logo--img" src="https://stdportal.tdtu.edu.vn/Content/images/image.png"
                        alt="TDT logo">
                </a>
            </div>
            <div class="header__navbar">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="/" class="nav-list__item--link">Trang chủ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="/notifications/pages/1" class="nav-list__item--link">Trang Thông báo</a>

                    </li>
                </ul>
            </div>
            <div class="header__banner--right">
                <div class="user-info">
                    <a href="" class="user-info__link info__link">
                       
                    </a>
                </div>

                <a href="/logout">
                    Logout
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="grid">
  
                <div class="user-section">
                    <div class="user-info">
                        <div class="user-info__name">
                            Hello, <strong>
                    
                            </strong>
                        </div>
                    </div>

                    <div class="user-section--create">
                        <button data-owner="" id="btn-new-notification"
                            class="btn btn-create-faculty">Tạo Thông báo mới</button>
                    </div>
                </div>

                    

        </div>

    </div>

    <!-- Create new notification -->
    <div class="modal fade" id="modalNewNotif" tabindex="-1" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal__title">
                    <h2>Create new Notification</h2>
                </div>
                <form method="post" onsubmit="return doCreateNoti(this)">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input type="text" name="title" placeholder="Nhập tiêu đề...">
                    </div>
                    <div class="form-group">
                        <label for="categories">Chuyên mục:</label>
                        <input type="text" name="categories" placeholder="Nhập tên chuyên mục...">
                    </div>
                    <div class="form-group">
                        <label for="briefText">Tóm tắt:</label>
                        <input type="text" name="briefText" placeholder="Tóm tắt nội dung...">
                    </div>

                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea name="content" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button id="btn-confirm-create" type="submit" class="btn btn-confirm-create">Tạo mới</button>
                        <button class="btn btn-cancel ">Hủy</button>
                    </div>



                </form>
            </div>
        </div>
    </div>

    <!-- Confirm delete -->
    <div class="modal fade" id="confirm-delete-dialog" tabindex="-1" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xóa bài viết</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc rằng muốn xóa <strong id="delete-username">Bài viết này</strong>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button data-id="???" data-name="???" id="btn-delete-confirmed" type="button"
                        class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End Confirm delete -->

    <form id='delete-noti-form' method="POST" name="delete-course-form"></form>


    <!-- modal update -->
    <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal__title">
                    <h2>Chỉnh sửa thông báo</h2>
                </div>
                <form id="noti-update-form" method="POST">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input id="title" value="" type="text" value="" name="title" placeholder="Nhập tiêu đề...">
                    </div>
                    <div class="form-group">
                        <label for="categories">Chuyên mục:</label>
                        <input id="categories" value="" type="text" name="categories"
                            placeholder="Nhập tên chuyên mục...">
                    </div>
                    <div class="form-group">
                        <label for="briefText">Tóm tắt:</label>
                        <input id="briefText" value="" type="text" name="briefText" placeholder="Tóm tắt nội dung...">
                    </div>

                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea id="content" value="" name="content" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button data-id="???" id="btn-confirm-update" type="submit" class="btn btn-confirm-create">Cập
                            nhật</button>
                        <a class="btn btn-cancel ">Hủy</a>
                    </div>



                </form>
            </div>
        </div>
    </div>
</section>
<script>

</script>
<%- include ("shares/footer") %>