<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginForm.css">
    
</head>
<body>
    <div class="page-container">
        <div class="login-form">
            <p class="login-form__title">Welcome</p> 
                <p>Sign in to Continue</p>
                <form method="post" action="/login"  class="form1">
                    <div class="form-group">
                        <input name="username"  type="text" align="center" placeholder="Username">
                    </div>
                    <div class="form-group">
                         <input name="password"  type="password" align="center" placeholder="Password">
                    </div>

                    <% if(message.length > 0) { %>
                        <div class="login-form__error-text text-center" role="alert">
                            *<%= message %> 
                        </div>
                    <% } %>
                    
                   
                    <div class="form-group">
                        <button class="btn btn-login"  type="submit">Login</button>
                    </div>
                    <!-- <p class="forgot" align="center">
                        <a href="#">Forgot Password?

                    </p> -->
                </form>
                <p class="login-form__title">Welcome</p> 
                <p>Sign in to Continue</p>
                <a href="/login/auth/google" class="login-form__btn"><span class="fa fa-google"></span> Sign In with Google</a>
            
        </div>
    </div>
</body>
</html> 