body{
    background-color: #F3EBF6;
    margin: auto 0;
}
table.table > thead > tr  >th{
     text-align: center;
     padding: 5px 5px 5px 15px;
}

.table td {
text-align: center;  

}
table.table > tbody > tr > th {
    text-align: center;  

}
.containerABC {
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    padding-top: 15px;  
    background-color: white;
    border: 1px solid white;

}

.btn-create{
    background-color: none;
    border: 1px solid #0dcaf0 !important;
    color:#0dcaf0 ;
    font-size: 25px;
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    border-radius: 5% 5% !important;
}
.btn1{
    position: absolute;
    top: -38px;
    left: -1px;
    cursor: pointer;
}
.btn-create:hover{
    border: none;
    color: white !important;
    background-color:#0dcaf0 ;
}
.tab{
    margin: 10px 5px 10px 5px;
}
.modal-background{
    background-color: white;
}
.cancel{
    position: relative;
    top: 0;
    right: 0;
}
.can{
    position: absolute;
    top: 0;
    right: 5px;
}


/* modal */
.modal{
    display: none; /* Hidden by default */
    position:relative;  /*  Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    margin-top: -28px;
    margin-right: -20px;
    font-size: 40px !important;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* form */
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .containerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:100%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #sidebar{
        z-index: 0;
      }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 15px;
    }
  }
  @media screen and (max-width: 312px) {
    .containerABC{
        max-width: 450px; 
        overflow-x:scroll;    
    
    }
    .btn1{
        position: inherit ;
        top: -15px;
    }
    /* modal  */
    @media screen and (max-width: 768px) {
      #sidebar{
        z-index: -1;
      }
    
    }
  }
