.text-error {
  color: #b94a48 !important; }

.has-switch label {
  cursor: not-allowed !important; }

.to_class {
  border: 2px solid #4dd2ff;
  padding: 3px;
  border-radius: 10px 10px;
  float: left;
  margin: 5px;
  background-color: #ffffff; }

.my-custom-scrollbar {
  position: relative;
  overflow: auto; }

.table-wrapper-scroll-y {
  display: block; }

.width200 {
  width: 200px !important; }

.width300 {
  width: 300px !important; }

.p-0 {
  padding: 0; }

.m-0 {
  margin: 0; }

.font-weight-bold {
  font-weight: bold; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-86 {
  width: 86%; }

.w-80 {
  width: 80%; }

.h-100 {
  height: 100%; }

.oneEaseInOut {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out; }

.cursorPointer {
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.color-white {
  color: white; }

.display-none {
  display: none !important; }

.vertical-center {
  vertical-align: middle; }
